/* delivery-man-post.css */

.delivery-man-post-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: cornsilk;
  }
  
  .delivery-man-post-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
  }
  

.delivery-man-posts{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
  
  .no-submission-message {
    font-size: 18px;
    font-weight: bold;
    color: #555;
    text-align: center;
  }
  